<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Co to za emocja | FunFeels</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel='stylesheet' >
</head>

<body>
    
    <header class ="header">
        <a href="" class="logo">Logo</a>

        <nav class="navbar">
            <a href="/">Wroć</a>
        </nav>
    </header>
    
    <div class="game-container hide">
        <div class="header1">
            <div class="timer"></div>
        </div>
        <div class="whats-container"></div>
    </div>
    <div class="score-container">
        <div id="user-score"></div>
        <button id="start">Start</button>
    </div>
    
    <script src="js/quiz.js"></script>
</body>

</html>